.position-relative-example { height: 200px; width: 100%; background-color: #f5f5f5; }
.position-relative-example div { width: 2em; height: 2em; background-color: #343a40;
border-radius: .25rem; }
.carousel-caption{
    top: 5% !important;
    left: 10% !important;
    width: 40% !important;
}

.carousel-caption p {
    margin-bottom: 0!important;
}




.intro-header {
    height: unset !important;
  }


  
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
 
  .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
  }
  @media (max-width: 450px) {
    .margins {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
  @media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 1020px;
    }
  }

  .grey-back .container .row .col-4{
    margin-top: -5%;
  }
  .grey-back .container .row .col-4 .col-md-8{
    margin-top: -38%;
    margin-left: 5%;
    color: #ffffff!important;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 24px;
  }
  .buttonimage{
    margin-left: 5%;
  }