<!-- Extended material form grid -->
<h1 class="display-4  mb-3 text-center" style="color: #3F729B">Ajouter Code Promo</h1>
<form (ngSubmit)="submit(form)" #form="ngForm">
  <div class="form-row">
    <div class="form-group col-6">
      <label for="profile-first-name">Code</label>
      <input
        [class.is-invalid]="
        code.invalid && (code.dirty || code.touched)
        "
        [class.is-invalid]="
        code.invalid && (code.dirty || code.touched)
        "
        required
        #code="ngModel"
        type="text"
        class="form-control"
        id="profile-first-name"
        name="code"
        [(ngModel)]="promocode.code"
      />
      <div
        *ngIf="
        code.invalid && (code.dirty || code.touched)
        "
        class="invalid-feedback"
      >
        <span *ngIf="code.errors.required">Prenom requis</span>
      </div>
    </div>
    <div class="form-group col-6">
      <label>amount</label>
      <input
        [class.is-invalid]="
          amount.invalid && (amount.dirty || amount.touched)
        "
        required
        #amount="ngModel"
        type="text"
        class="form-control"
        id="profile-last-name"
        name="amount"
        [(ngModel)]="promocode.amount"
      />

      <div
        *ngIf="amount.invalid && (amount.dirty || amount.touched)"
        class="invalid-feedback"
      >
      </div>
    </div>
    <div>
      
     </div>
  </div>
<div class="form-row">
  <div class="form-group col-12">
    <label for="profile-first-name">expireDate</label>
    <input
      [class.is-invalid]="
      expireDate.invalid && (expireDate.dirty || expireDate.touched)
      "
      [class.is-invalid]="
      expireDate.invalid && (expireDate.dirty || expireDate.touched)
      "
      required
      #expireDate="ngModel"
      type="text"
      class="form-control"
      id="profile-first-name"
      name="expireDate"
      [(ngModel)]="promocode.expireDate"
    />
    <div
      *ngIf="
      expireDate.invalid && (expireDate.dirty || expireDate.touched)
      "
      class="invalid-feedback"
    >
      <span *ngIf="expireDate.errors.required">expireDate requis</span>
    </div>
  </div>
</div>
 
  <div class="form-row">
    <div class="form-group col">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckIndeterminate"
          #isPercent="ngModel"
          name="isPercent"
          [(ngModel)]="promocode.isPercent"
        />
        <label class="form-check-label" for="flexCheckIndeterminate">
          Par Pourcentage 
        </label>
      </div>
    </div>
  </div> 




  <div class="form-row">
    <div class="form-group col">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckIndeterminate"
          #isActive="ngModel"
          name="isActive"
          [(ngModel)]="promocode.isActive"
        />
        <label class="form-check-label" for="flexCheckIndeterminate">
          Active
        </label>
      </div>
    </div>
  </div> 
  <div class="text-center">
    <button  class="btn btn-primary">
      Enregistrer
    </button>
    <button class="btn btn-secondary" type="reset">Cancel</button>
  </div>
</form>


