

<p class="text-muli-light-26 text-grey-custom text-center mb-1">Informations</p>
<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 text-center">
    <!-- Material input -->
    <div class="md-form form-group">
          <button (click)="Imageframe.show()"  mdbBtn type="button"  class="btn-purple-light-custom-outline" mdbWavesEffect><mdb-icon far icon="image"></mdb-icon> Afficher image</button>
          <button (click)="Timeframe.show()"  mdbBtn type="button"  class="btn-purple-light-custom-outline" mdbWavesEffect> <mdb-icon far icon="clock"></mdb-icon> Horaire </button>
    </div>
  </div>
  <!-- Grid column -->
</div>
<div class="form-row">

  </div>
<form #form1="ngForm" >
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" #name="ngModel" class="form-control text-muli-regular-18 text-grey-custom" id="name" name="name" [(ngModel)]="sender.name" required>
        <label *ngIf="sender.type==='0'" for="name" class="text-muli-regular-14 text-grey-light-custom">Nom</label>
        <label *ngIf="sender.type!=='0'" for="name" class="text-muli-regular-14 text-grey-light-custom">Prenom</label>
        <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required">
            
Le nom est requis.
          </div>
        </mdb-error>
      </div>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="text" pattern="[0-9]{8,8}$"  #phoneNumber="ngModel" class="form-control text-muli-regular-18 text-grey-custom" id="phoneNumber" name="phoneNumber" [(ngModel)]="sender.phoneNumber"  minlength="8" required maxlength="8" >
        <label for="phoneNumber" class="text-muli-regular-14 text-grey-light-custom">Téléphone mobile</label>
        <mdb-error *ngIf="phoneNumber.invalid ">
          <div *ngIf="phoneNumber.errors.required">
            
Le numéro de téléphone est requis.
          </div>
          <div *ngIf="phoneNumber.errors.minlength || phoneNumber.errors.maxlength || phoneNumber.errors.pattern">
            
Le numéro de téléphone doit comporter au moins 8 chiffres.
          </div>
        
        </mdb-error>
      </div>
    </div>
    <!-- Grid column -->

      <!-- Grid row -->
  </div>
    <!-- Grid row -->
    <div *ngIf="sender.type!=='0'" class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input mdbInput type="text" class="form-control text-muli-regular-18 text-grey-custom" id="lastName" name="lastName" [(ngModel)]="sender.lastName">
                <label for="lastName" class="text-muli-regular-14 text-grey-light-custom">Nom de famille</label>
              </div>
            </div>
            <!-- Grid column -->
        
          <!-- Grid column -->
          <div class="col-md-6">
                <!-- Material input -->
                <div class="md-form form-group">
                  <input pattern="[0-9]{8,8}$" #cin="ngModel" mdbInput type="text" class="form-control text-muli-regular-18 text-grey-custom" id="cin" name="cin" [(ngModel)]="sender.cin" minlength="8" required maxlength="8" >
                  <label for="cin" class="text-muli-regular-14 text-grey-light-custom">CIN</label>
                  <mdb-error *ngIf="cin.invalid && (cin.dirty || cin.touched)">
                    <div *ngIf="cin.errors.required">
                      
          Le numéro de téléphone est requis.
                    </div>
                    <div *ngIf="cin.errors.minlength || cin.errors.maxlength || cin.errors.pattern">
                      
          Le numéro de téléphone doit comporter au moins 8 chiffres.
                    </div>
                  
                  </mdb-error>
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid row -->
          </div>
  <div class="form-row">
  <!-- Grid column -->
  <div class="col-md-12">
    <!-- Material input -->
    <div class="md-form form-group">
      <input mdbInput type="text" class="form-control text-muli-regular-18 text-grey-custom" id="address" name="address" #address="ngModel" [(ngModel)]="sender.address" required>
      <label for="address" class="text-muli-regular-14 text-grey-light-custom">Adresse</label>
      <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">
        <div *ngIf="address.errors.required">
          
L'adresse est obligatoire.
        </div>
      </mdb-error>
    </div>
  </div>
  <!-- Grid column -->

    <!-- Grid column -->
<!--     <div class="col-md-6">
      <div class="md-form form-group">
        <input mdbInput type="text" #rib="ngModel" pattern="[0-9]{20,20}$" class="form-control text-muli-regular-18 text-grey-custom" autocomplete="off"  id="rib" name="rib" [(ngModel)]="sender.rib"  minlength="20" required maxlength="20"  />
        <label for="rib" class="text-muli-regular-14 text-grey-light-custom">RIB</label>
        <mdb-error *ngIf="rib.invalid && (rib.dirty || rib.touched)">
          <div *ngIf="rib.errors.required">
              Le numéro de RIB est requis.
          </div>
          <div *ngIf="rib.errors.minlength || rib.errors.maxlength || rib.errors.pattern">
              RIB doit comporter  20 caractères.
          </div>
         
        </mdb-error>
      </div>
    </div> -->
  </div>
  <!-- Grid row -->
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
   <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <input mdbInput type="email" class="form-control text-muli-regular-18 text-grey-custom" autocomplete="off"  id="email" name="email" [(ngModel)]="sender.email" disabled />
        <label for="email" class="text-muli-regular-14 text-grey-light-custom">Email</label>
      
      </div>
    </div> 
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
            <!-- Material input-->
            <div class="md-form form-group">
              <input pattern="(?=.*\d)(?=.*[a-z]).{5,}" autocomplete="new-password" mdbInput type="password" class="form-control text-muli-regular-18 text-grey-custom" #password="ngModel" value="" name="password" id="password" required minlength="5" [(ngModel)]="sender.password" >
              <label for="password" class="text-muli-regular-14 text-grey-light-custom">Mot de passe</label>
              <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">
               
                  Mot de passe doit avoir 5 caractères avec au moins un chiffre et une lettre
               
              </mdb-error>
            </div>
          </div> 
          <!-- Grid column -->
  </div>
  <!-- Grid row -->
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 text-right">
        <!-- Material input -->
        <div class="md-form form-group">
        <button (click)="update();frame.show()" type="submit" [class.disabled]="form1.invalid" class="btn btn-purple-light-custom text-muli-bold-14 btn-md">Enregistrer</button>
        </div>
      </div>
      <!-- Grid column -->
</div>
<!-- Grid row -->
  <!-- Extended material form grid -->
<p *ngIf="sender.type==='0'" class="text-muli-light-26 text-grey-custom text-center mb-5">Menu
  <a  class="text-secondary" style="float: left;"><button (click)="OrderMin.show()"  mdbBtn type="button"  class="btn-purple-light-custom-outline" mdbWavesEffect> <mdb-icon fas icon="dollar-sign" size="lg"></mdb-icon> Minimum Commande </button>
  </a>      
  <a class="text-secondary" routerLink="/restaurant/newproduct" style="float: right;">
                <mdb-icon far icon="plus-square" class="btn-purple-light" size="lg"></mdb-icon>
            </a>
          </p>
<table *ngIf="sender.type==='0'" id="orders" class="d-none d-lg-table  table table-bordered table-responsive-lg table-striped text-center">
        <tr>
          <th class="text-center text-muli-bold-16 text-grey-light-custom">#</th>
          <th class=" text-center text-muli-bold-16 text-grey-light-custom"> Image  </th>
          <th class="text-center text-muli-bold-16 text-grey-light-custom"> Nom  </th>
          <th class="description text-center text-muli-bold-16 text-grey-light-custom">Description</th>
          <th class="text-center text-muli-bold-16 text-grey-light-custom">Prix</th>
          <th class="text-center text-muli-bold-16 text-grey-light-custom">Action</th>
        </tr>
        <tr *ngFor="let product of sender.menu; let id = index ;">
          <td>
            <span class="text-muli-semi-bold-16 text-grey-light-custom">{{id+1}}</span>
          </td>
          <td>
            <a  *ngIf="product.image" (click)="selectedProduct=product;ImageProductframe.show();" ><img height="30" src="{{product.image}}"></a>
            
          </td>
          <td>
            <span class="text-muli-semi-bold-18 text-grey-custom">{{product.name }}</span>
          </td>
          <td >
              <span class="text-muli-semi-bold-16 text-grey-light-custom">{{ product.description}}</span>
            </td>
            <td>
                <span class="text-muli-semi-bold-16 text-grey-custom"> {{product.price }}</span>
              </td>
          
        
       
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn rounded="true" size="sm" class="my-0 btn-custom btn-purple-custom" data-toggle="modal" data-target="#basicExample" 
              routerLink="/restaurant/account/updateproduct/{{id}}" mdbWavesEffect ><mdb-icon far icon="edit" size="2x"></mdb-icon></button>
              <button  type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" 
              (click)="selectedProduct=product;selectedProduct.id=id;confirmDelete.show();" mdbWavesEffect ><mdb-icon far size="2x" icon="trash-alt"></mdb-icon></button>
            </span>
      </td>
         </tr>
   
      </table>
      <table  *ngIf="sender.type==='0'" id="orders" class="d-table d-lg-none  table table-bordered table-responsive-lg table-striped text-center">
        <tr>
          <th class=" text-center text-muli-bold-16 text-grey-light-custom"> Image  </th>
          <th class="text-center text-muli-bold-16 text-grey-light-custom"> Nom  </th>
          <th class="text-center text-muli-bold-16 text-grey-light-custom">Action</th>
        </tr>
        <tr *ngFor="let product of sender.menu; let id = index ;">
         
          <td>
            <a  *ngIf="product.image" (click)="selectedProduct=product;ImageProductframe.show();" ><img height="30" src="{{product.image}}"></a>
            
          </td>
          <td>
            <span class="text-muli-semi-bold-16 text-grey-custom">{{product.name }}</span>
          </td>
      
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn rounded="true" size="sm" class="my-1 btn-custom btn-purple-custom" data-toggle="modal" data-target="#basicExample" 
                routerLink="/restaurant/account/updateproduct//{{id}}" mdbWavesEffect ><mdb-icon far icon="edit"></mdb-icon></button>
              <button  type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" 
              (click)="selectedProduct=product;selectedProduct.id=id;confirmDelete.show();" mdbWavesEffect ><mdb-icon far icon="trash-alt"></mdb-icon></button>
            </span>
      </td>
         </tr>
   
      </table>   



</form>
<div mdbModal #confirmDelete="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Voulez- vous supprimer le produit {{selectedProduct.name}}  ?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a (click)="delete(selectedProduct.id);confirmDelete.hide()" mdbBtn color="danger" outline="true" class="waves-effect"
          mdbWavesEffect>Oui</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="confirmDelete.hide()">Non</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<div mdbModal #form="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <p *ngIf="newProduct" class="modal-title w-100 text-muli-bold-24 text-grey-darker-custom">Nouveau produit</p>
        <p *ngIf="!newProduct" class="modal-title w-100  text-muli-bold-24 text-grey-darker-custom">Mis à jour du produit</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="initProduct();form.hide();close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addProductForm="ngForm" >
      <div class="modal-body mx-3">
       
        <div class="md-form mb-5">
          <input #productname="ngModel" required type="text" id="nameP" class="form-control validate text-muli-regular-18 text-grey-custom" name="name" [(ngModel)]="selectedProduct.name"
            mdbInput>
          <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="name">Nom</label>
          <mdb-error *ngIf="productname.invalid && (productname.dirty || productname.touched)">
               
            Le nom de produit est obligatoire
         
        </mdb-error>
        </div>
        <div class="md-form mb-5">
            <input #productdes="ngModel" required type="text" id="description" class="form-control text-muli-regular-18 text-grey-custom validate" name="description" [(ngModel)]="selectedProduct.description"
              mdbInput>
            <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="description">Description</label>
            <mdb-error *ngIf="productdes.invalid && (productdes.dirty || productdes.touched)">
               
              La description de produit est obligatoire
           
          </mdb-error>
          </div>
     

        <div class="md-form mb-4">
               
          <input #productprice="ngModel" required pattern="[0-9.]{1,}$" type="text" id="price" class="form-control text-muli-regular-18 text-grey-custom validate" name="price" [(ngModel)]="selectedProduct.price"
            mdbInput>
          <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="price">Prix</label>
          <mdb-error *ngIf="productprice.invalid && (productprice.dirty || productprice.touched)">
            <div *ngIf="productprice.errors.required">
            
              Le prix du produit est obligatoire
                        </div>
                        <div *ngIf="productprice.errors.pattern">
            
                          Prix Invalide
               </div>
         
        </mdb-error>
        </div>
        <div *ngIf="!updateBanner" class="md-form  form-group input-group  mt-1 mb-4 ">
           
            <input class="file-path form-control" type="text" required id="banner"  name="banner" [(ngModel)]="banner"
          mdbInput mdbValidate disabled>
             <div class="input-group-append file-field">
               <div class="text-muli-regular-10 btn btn-grey-custom  mb-0  btn-sm float-left waves-effect waves-light">
                  <span><mdb-icon fas icon="upload" size="2x"></mdb-icon></span>
                  <input class="file" type="file" (change)="selectFile($event)">
               </div>
               
             </div>
          
             
    
    </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button *ngIf="newProduct" [class.disabled]="addProductForm.invalid" (click)="addProduct(form)" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom" mdbWavesEffect>Enregistrer</button>
        <button *ngIf="!newProduct" [class.disabled]="addProductForm.invalid" (click)="updateProduct(form)" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom" mdbWavesEffect>Enregistrer</button>

      
      </div>
    </form>
    </div>
  </div>
</div>


<div mdbModal #Imageframe="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header text-center">
      <p  class="modal-title w-100 text-muli-bold-24 text-grey-darker-custom">Image du restaurant</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();Imageframe.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <!--Body-->
    <div class="modal-body">
      <div class="text-center">
        <img height="200" class="w-100"  *ngIf="!updateBanner" src="{{sender.banner}}">
        <div *ngIf="updateBanner" class="md-form  form-group input-group  mt-1 mb-4 ">
           
                <input class="file-path form-control" type="text" required id="banner"  name="banner" [(ngModel)]="banner"
              mdbInput mdbValidate disabled>
                 <div class="input-group-append file-field">
                   <div class="text-muli-regular-10 btn btn-grey-custom  mb-0  btn-sm float-left waves-effect waves-light">
                      <span><mdb-icon fas icon="upload" size="2x"></mdb-icon></span>
                      <input class="file" type="file" (change)="selectFile($event)">
                   </div>
                   
                 </div>
              
                 
        
        </div>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer d-flex justify-content-center">
      <button  (click)="close();Imageframe.hide()" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom-outline" mdbWavesEffect>Fermer</button>
      <button *ngIf="!updateBanner" (click)="updateBanner=true;" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom" mdbWavesEffect>Mise a jour</button>
      <button *ngIf="updateBanner" (click)="update_Banner();close();Imageframe.hide()" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom" mdbWavesEffect>Mise a jour</button>

    </div>

  </div>
  <!--/.Content-->
</div>
</div>
<div mdbModal #ImageProductframe="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header text-center">
      <p  class="modal-title w-100 text-muli-bold-24 text-grey-darker-custom">{{selectedProduct.name}}</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();ImageProductframe.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <!--Body-->
    <div class="modal-body">
      <div class="text-center">
        <img height="200" class="w-100" *ngIf="selectedProduct.image" src="{{selectedProduct.image}}">
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer d-flex justify-content-center">
      <button  (click)="close();ImageProductframe.hide()" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom-outline" mdbWavesEffect>Fermer</button>
     
    </div>

  </div>
  <!--/.Content-->
</div>
</div>
<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-dialog modal-notify modal-success" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header">
      <p class="heading lead">Confirmation</p>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
        <span aria-hidden="true" class="white-text">&times;</span>
      </button>
    </div>

    <!--Body-->
    <div class="modal-body">
      <div class="text-center">
        <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
        <p>
          Modification réussite!
        </p>
      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer justify-content-center">
      <a type="button" mdbBtn color="success" class="waves-light" (click)="frame.hide()" mdbWavesEffect>Merci !
    
      </a>
      
    </div>
  </div>
  <!--/.Content-->
</div>
</div>

<div mdbModal #Timeframe="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header text-center">
      <p  class="modal-title w-100 text-muli-bold-24 text-grey-darker-custom">Régler l'horaire</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();Timeframe.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <!--Body-->
    <div class="modal-body">
      <div class="text-center">

          <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ouverture</th>
                    <th scope="col">Fermeture</th>
                    <th scope="col">Fermer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let time of sender.times">
                    <th scope="row">{{time.DayofTheWeek}}</th>
                    <td>  <input 
                      type="time"
                      id="input"
                      class="form-control"
                      name="openningTime" [(ngModel)]="time.openningTime"
                      value="09:00"
                      mdbInput
                      [disabled]="time.closed"
                    /> </td>
                    <td>  <input
                      type="time"
                      id="input"
                      class="form-control"
                      value="22:00"
                      name="closingTime" [(ngModel)]="time.closingTime"
                      mdbInput
                      [disabled]="time.closed"
                    /></td>
                    <td><div class="custom-control custom-switch">
                        
                          <input type="checkbox" class="custom-control-input" id="{{time.DayofTheWeek}}" name="closed" [(ngModel)]="time.closed" [checked]="time.closed">
                          <label class="text-muli-light-16 custom-control-label ml-5" for="{{time.DayofTheWeek}}" ></label>
                           </div>
                    </td>
                 </tr>
               
                </tbody>
              </table>
            </div>
       





      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer d-flex justify-content-center">
      <button  (click)="close();Timeframe.hide()" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom-outline" mdbWavesEffect>Fermer</button>
      <button  (click)="setTime();Timeframe.hide()" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom" mdbWavesEffect>Enregistrer</button>
 

    </div>

  </div>
  <!--/.Content-->
</div>
</div>


<div mdbModal #OrderMin="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true" >
<div class="modal-dialog" role="document">
  <!--Content-->
  <div class="modal-content">
    <!--Header-->
    <div class="modal-header text-center">
      <p  class="modal-title w-100 text-muli-bold-24 text-grey-darker-custom">Minimum de Commande</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close();OrderMin.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <!--Body-->
    <div class="modal-body">
      <div class="text-center">

        <div class="md-form mb-4">
               
          <input #minOrder="ngModel" pattern="[0-9.]{1,}$" type="text" id="minOrder" class="form-control text-muli-regular-18 text-grey-custom validate" name="minOrder" [(ngModel)]="sender.minOrder"
            mdbInput>
          <label data-error="wrong" data-success="right" class="text-muli-regular-14 text-grey-light-custom" for="price">Minimum Commande (Exemple : 50 => 50DT )</label>
          <mdb-error *ngIf="minOrder.invalid && (minOrder.dirty || minOrder.touched)">
       
                        <div *ngIf="minOrder.errors.pattern">
            
                          Format Minimum Commande non conforme
               </div>
         
        </mdb-error>
        </div>
       





      </div>
    </div>
    <!--Footer-->
    <div class="modal-footer d-flex justify-content-center">
      <button  (click)="close();OrderMin.hide()" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom-outline" mdbWavesEffect>Fermer</button>
      <button  (click)="setminOrder();OrderMin.hide()" mdbBtn class="waves-light text-muli-bold-18 btn-purple-light-custom" mdbWavesEffect>Enregistrer</button>
 

    </div>

  </div>
  <!--/.Content-->
</div>
</div>