.star {
    font-size: 1.5rem;
    color: #f0e4a8;
  }
  .filled {
    color: #ffe358;
  }
  #container {

    position: relative;
    display:inline-block;
 }

  #text {
    position: absolute;
    color: white;
    font-weight: bold;
    left: 20%;
    right: 0;
    top: 15%;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
  }
  p{
      margin:0;
  }