<div class="container py-3 mb-5">
    <div class="row">
        <p class="text-muli-semi-bold-14 text-grey-custom mb-4" routerLink="/home">Accueil> </p>
        <p class="text-muli-semi-bold-14 text-purple-custom mb-4"> Commande personanlisée
        </p>
        <img src="/assets/header-commande.png" class="img-fluid mb-4" alt="Responsive image">
    </div>
  
    <!-- Horizontal Steppers -->
    <div></div>
    <div class="row justify-content-center mb-5 d-none d-md-block">
      <div class="col-md-10">
    
        <!-- Stepers Wrapper -->
        <ul class="stepper stepper-horizontal">
    
          <!-- First Step -->
          <li [class.active]="step==1">
            <a >
                <mdb-icon fas icon="map-marked-alt" [class.text-purple-custom]="step==1" [class.text-grey-custom]="step!=1"   size="3x"></mdb-icon><p> </p>          
                <span class="label text-muli-bold-21" [class.text-purple-custom]="step==1" [class.text-grey-custom]="step!=1" >  Adresse du Restaurant</span>
            </a>
          </li>
    
          <!-- Second Step -->
          <li [class.active]="step==2">
            <a >
                <mdb-icon fas icon="utensils" [class.text-purple-custom]="step==2" [class.text-grey-custom]="step!=2" size="3x"></mdb-icon><p> </p>          
                <span class="label text-muli-bold-21" [class.text-purple-custom]="step==2" [class.text-grey-custom]="step!=2">Commande</span>
            </a>
          </li>
    
          <!-- Third Step -->
          <li [class.active]="step==3">
            <a >
                <mdb-icon far icon="check-square" [class.text-purple-custom]="step==3" [class.text-grey-custom]="step!=3" size="3x"></mdb-icon><p> </p>  
                <span class="label text-muli-bold-21"  [class.text-purple-custom]="step==3" [class.text-grey-custom]="step!=3">Confirmation</span>
            </a>
    
          </li>
    
    </ul>
        <!-- /.Stepers Wrapper -->
      </div>
    </div>
    <!-- /.Horizontal Steppers -->
     
    <div [class.none]="step!=1" [class.active]="step==1" >
              
        <mdb-card>
            <mdb-card-body>
                <form  class="mb-4 mt-5" #form1="ngForm">
                    <img src="/assets/1.png" class="img-fluid mb-4 px-md-5 mt-n1 float-right" alt="Responsive image">
                <div class="justify-content-center mt-5 mb-5">
                  <div class="md-form col-md-8 mt-5 mx-auto">
                    <input #sender="ngModel" type="text" required mdbInput  [(ngModel)]="newDelivery.sender" name="sender" id="sender" 
                      class="form-control mb-4" placeholder="Nom de Restaurant"   >
                      <mdb-error *ngIf="sender.invalid && (sender.dirty || sender.touched)">
                        Nom Obligatoire
                      </mdb-error>   
                         
                      <label for="sender">Nom du restaurant</label> 
                     
              </div>
              <div class="md-form col-md-8 mt-5 mx-auto">
                        <input #startingPoint="ngModel" type="text" required mdbInput  [(ngModel)]="newDelivery.startingPoint" name="startingPoint" id="startingPoint" 
                        class="form-control mb-4" placeholder="Addresse de Restaurant" (keydown.enter)="$event.preventDefault()"  autocorrect="off" autocapitalize="off" spellcheck="off"   #search>
                        <mdb-error *ngIf="startingPoint.invalid && (startingPoint.dirty || startingPoint.touched)">
                          Adresse Obligatoire
                        </mdb-error>   
                        <mdb-error *ngIf="errorMessage===1">
                          Adresse incorrecte
                        </mdb-error>    
                        <label for="startingPoint">Adresse du restaurant</label>      
                </div>
                           </div>
                           <div class="col-md-12 mb-5 mt-5">
                            <app-google [parent]="this" ></app-google>
                          </div>
                            <button  (click)="changeStep(2)" mdbBtn type="button"  outline="true" class="mb-5 mr-4 text-muli-semi-bold-14 btn-pink-custom-outline float-right mt-4" mdbWavesEffect> <mdb-icon mdb-icon fas aria-hidden="true" class="text-pink-custom" icon="chevron-circle-right fa-1x"></mdb-icon> Etape suivante</button>
                           
                          
                          </form>
            </mdb-card-body>
          </mdb-card>
                                  
                    </div>
                
                
       
              <div [class.none]="step!=2" [class.active]="step==2">

                  <mdb-card>
                      <mdb-card-body>
                          <form class="mb-4 mt-5" #form2="ngForm">
                              <img src="/assets/2.png" class="img-fluid mb-4 px-md-5 mt-n1 float-right" alt="Responsive image">
                              <div class="justify-content-center mt-5 mb-5"> 
              
                                <div class="md-form mt-5 col-md-8 mx-auto mb-5">
                                  <textarea  required #description="ngModel" [(ngModel)]="newDelivery.description" name="description"  rows="3" type="text" id="description" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                                  <label for="description">Description de commande</label>
                                  <mdb-error *ngIf="description.invalid && (description.dirty || description.touched)">
                                    Description Obligatoire
                                  </mdb-error>
                                </div>
                                <div class="md-form mt-5 mb-5 col-md-8 mx-auto">
                                    <input type="text" aria-label="Search" style="width: 100%"  mdbInput required #price="ngModel" pattern="[0-9.]*$"
                                    [(ngModel)]="newDelivery.price" name="price" id="price" class="form-control mb-4"  > 
                                    <label for="price">Prix</label>
                                    <mdb-error *ngIf="price.invalid && (price.dirty || price.touched)">
                                      Prix Obligatoire
                                    </mdb-error>          
                            </div>
                                                                             
                                    </div>
                                  
                                         <button (click)="changeStep(3)" [class.disabled]="form2.invalid" mdbBtn type="button" outline="true" class="mb-5 mt-4 mr-4 text-muli-semi-bold-14 btn-pink-custom-outline float-right" mdbWavesEffect> <mdb-icon mdb-icon fas class="text-pink-custom" icon="chevron-circle-right fa-1x"></mdb-icon> Etape suivante</button>
                                        </form>
                      </mdb-card-body>
                    </mdb-card>
                        </div>
    
                        <div [class.none]="step!=3" [class.active]="step==3">
                            <mdb-card>
                                <mdb-card-body>
                          <form class="mb-4" #form3="ngForm">
                              <img src="/assets/3.png" class="img-fluid mb-4 px-md-5 mt-n1 float-right" alt="Responsive image">

                        <div class="justify-content-center mt-5 mb-5">
                                <div class="md-form mb-5 mt-5 col-md-8  mx-auto">
                                        <input #arrivalPoint="ngModel" [(ngModel)]="newDelivery.arrivalPoint" name="arrivalPoint" mdbInput type="text" id="arrivalPoint" class="form-control" 
                                        (keydown.enter)="$event.preventDefault()"  autocorrect="off" autocapitalize="off" spellcheck="off"   #search2>
                                        <mdb-error *ngIf="errorMessage===2">
                                          Adresse incorrecte
                                        </mdb-error>  
                                        <label for="arrivalPoint">Adresse du livraison</label>
                                  </div>
                       
                   
                        </div>
                        <div class="col-md-12 mb-5 mt-5">
                          <app-google *ngIf="valid"   [parent]="this" ></app-google>
                        </div>

                                     <button [class.disabled]="form3.invalid" (click)="addDelivery()" mdbBtn type="button" outline="true" class="mb-5 mt-4 text-muli-semi-bold-14 btn-pink-custom-outline float-right mr-4" > <mdb-icon mdb-icon class="text-pink-custom" fas icon="chevron-circle-right fa-1x"></mdb-icon> Valider</button>
                                     <button (click)="changeStep(2)" mdbBtn type="button"  outline="true" class="mb-5 mt-4 text-muli-semi-bold-14 btn-pink-custom-outline float-left ml-4" mdbWavesEffect> <mdb-icon mdb-icon class="text-pink-custom" fas icon="chevron-circle-left fa-1x"></mdb-icon> Precedent</button>
                                    </form>
                                    </mdb-card-body>
                            </mdb-card>
    
                                  </div>
                                  
                                  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                                      <div class="modal-dialog modal-notify" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                              <span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title w-100" id="myModalLabel">Confirmation</h4>
                                          </div>
                                          <div class="modal-body">
                                           <!--  <div class="text-center">
                                                <i class="fas fa-check fa-4x mb-3 text-purple-custom animated rotateIn"></i>
                                              <p class="text-muli-semi-bold-14 ">Commande validée !</p>
                                          </div> -->
                                          <h5 class="text-muli-bold-18" >Résumé</h5>
                                          <p  class="text-muli-light-16">
                                              {{newDelivery.description}} </p>
                                              <hr>
                                              <p  class="text-muli-light-16">Total :   {{newDelivery.price}} TND</p>
                                               <p  class="text-muli-light-16"> Frais de livraison :   {{newDelivery.deliveryFee + (delivsFee)}} TND</p>
                                               <p  class="text-muli-light-16"> Total à payer :   {{newDelivery.total | number:'1.0-1'}} TND</p>
                                          </div>
                                          <div class="modal-footer justify-content-center">
                                            <button type="button" outline="true" mdbBtn class="waves-light text-muli-semi-bold-14 btn-purple-custom-outline" aria-label="Close"   (click)="save()" mdbWavesEffect>Continuer</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div> 
     </div>
     