<div>

    <img src="assets/slide3.jpg" class="d-block w-100" alt="Responsive image">
  </div>
<h1 *ngIf="!expired" class="text-center mt-5 text-muli-light-26 text-grey-custom">Votre email a été confirmée. </h1>
<h1 *ngIf="expired" class="text-center mt-5 text-muli-light-26 text-grey-custom">Votre email n'a pas été confirmée. </h1>
<p *ngIf="!expired" class="mb-4 text-center text-muli-regular-18">Vous pouvez <a routerLink="/login" >se connecter </a> a votre compte et modifier vos informations.</p>
<p *ngIf="expired" class="mb-4 text-center text-muli-regular-18">Consulter votre boite mail pour essayer de nouveau</p>
