.breadcrumb-item + .breadcrumb-item::before  {
    content: none;
  }
  
  .bc-icons-2 {
    mdb-breadcrumb {
      mdb-breadcrumb-item.active {
        .breadcrumb-item {
          color: #000 !important;
        }
      }
    }
  }

  .view .mask{
    top:75% !important;
    left:3% !important;
  }
  input[type=hidden]{
    display: none;
  }
  .mt-n1 {
    margin-top: -5.5% !important;
    }
    .slide-open{
      border-bottom: 1px solid #6861e1;
  }
  ::ng-deep .navCss nav
  {
        background-color: #fb72c4;
  }