<!-- Footer -->
<footer class="page-footer font-small stylish-color">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="http://five-consulting.com/"> Five Consulting</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->