<h3 class="text-center mb-3"><mdb-icon fas icon="utensils"></mdb-icon>    Ajouter un Restaurant </h3>
<form #form="ngForm">
<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="md-form mt-3">
      <input  required #name="ngModel" [(ngModel)]="newRestaurant.name"  name="name" mdbInput type="text" id="name" class="form-control">
      <label for="name" class="">Nom </label>
      <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">
        Nom Obligatoire
      </mdb-error>
</div>
</div>
<div class="col-md-6">
  <!-- Material input -->
  <div class="md-form mt-3">
      <input required #phoneNumber="ngModel" minlength="8" maxlength="8" pattern="[0-9]{8,8}$" [(ngModel)]="newRestaurant.phoneNumber" name="phoneNumber" mdbInput type="text" id="phoneNumber" class="form-control">
      <label for="phoneNumber" class=""><mdb-icon fas icon="phone-volume"></mdb-icon>   Téléphone</label>
      <mdb-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
        Téléphone Obligatoire
      </mdb-error>
  </div>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-md-12">
    <!-- Material input -->
    <div class="md-form mt-3">
        <input  required #address="ngModel" [(ngModel)]="newRestaurant.address" name="address" mdbInput type="text" id="address" class="form-control" >
        <label for="address"><mdb-icon fas icon="map-marked-alt"></mdb-icon>   Addresse</label>
        <mdb-error *ngIf="address.invalid && (address.dirty || address.touched)">
          Address Obligatoire
        </mdb-error>
    </div>
  </div>
<!-- <div class="col-md-6">
  <div class="md-form mt-3">
      <input required minlength="20" maxlength="20" pattern="[0-9]{20,20}$" #rib="ngModel" [(ngModel)]="newRestaurant.rib" name="rib" mdbInput type="text" id="rib" class="form-control">
      <label for="rib" class=""><mdb-icon fas icon="money-check-alt"></mdb-icon>   RIB</label>
      <mdb-error *ngIf="rib.invalid && (rib.dirty || rib.touched)">
        RIB Obligatoire
      </mdb-error>
    </div>
  </div> -->



</div>
<div class="row justify-content-center">

<div class="col-md-6">

  <div class="md-form mt-3">
    <input  required #email="ngModel" [(ngModel)]="newRestaurant.email" name="email" mdbInput type="email" id="email" class="form-control">
    <label for="email" class=""><mdb-icon fas icon="envelope"></mdb-icon>   Email </label>
    <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">
      Email Obligatoire
    </mdb-error>
</div>
</div>

<div class="col-md-6">

  <div class="md-form mt-3">
    <input  autocomplete="new-password"   required minlength="5" pattern="(?=.*\d)(?=.*[a-z]).{5,}" #password="ngModel" [(ngModel)]="newRestaurant.password" name="password" mdbInput type="password" id="password" class="form-control">
    <label for="password" class="">Mot de passe </label>
    <mdb-error
                *ngIf="password.invalid && (password.dirty || password.touched)">
                Mot de passe doit avoir 5 caractères avec au moins un chiffre et une lettre
                
              </mdb-error>
</div>


  </div>
  </div>
  <div class="row justify-content-left">

      <div class="col-md-6">
      
        <div class="md-form mt-3">
            <div class="file-field">
                <div class="btn btn-primary btn-sm float-left waves-effect waves-light">
                  <span>Choisir une image</span>
                  <input class="file" type="file" (change)="selectFile($event)" required>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path form-control" type="text" required #banner="ngModel" [(ngModel)]="newRestaurant.banner" name="banner" mdbInput id="banner"  
                  mdbInput mdbValidate disabled>
                 
                </div>
              </div> <mdb-error *ngIf="banner.invalid && (banner.dirty || banner.touched)">
            Image Obligatoire
          </mdb-error>
      </div>
      </div>

        </div>
</form>
<form #form1="ngForm">

  <h4><mdb-icon fas icon="hamburger"></mdb-icon>   Ajouter Produit  <a (click)="addProduct()" style="float: right" ><mdb-icon far icon="plus-square"></mdb-icon></a></h4>
            <br>
            <!-- Grid row -->
    <div class="row" *ngFor="let product of newRestaurant.menu">
        <!-- Grid column -->
        <div class="col-md-3">
          <!-- Material input -->
          <div class="md-form mt-3">
              <input required #productname="ngModel"  [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}" mdbInput type="text" id="productname" class="form-control">
              <label for="productname" class="">Désignation</label>
              <mdb-error *ngIf="productname.invalid && (productname.dirty || productname.touched)">
                Désignation Obligatoire
              </mdb-error>
          </div>
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-4">
          <!-- Material input -->
          <div class="md-form mt-3">
              <input required #productdesciption="ngModel"  [(ngModel)]="product.description" [ngModelOptions]="{standalone: true}" mdbInput type="text" id="description" class="form-control">
              <label for="description" class=""><mdb-icon fas icon="pencil-alt"></mdb-icon>   Description</label>
              <mdb-error *ngIf="productdesciption.invalid && (productdesciption.dirty || productdesciption.touched)">
                Description Obligatoire
              </mdb-error>
          </div>
        </div>
        <!-- Grid column -->
        <div class="col-md-2">
          <!-- Material input -->
          <div class="md-form mt-3">
              <input required #productprice="ngModel"  pattern="[0-9.]*$" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" mdbInput type="text" id="price" class="form-control">
              <label for="price" class=""><mdb-icon fas icon="dollar-sign"></mdb-icon>   Prix</label>
              <mdb-error *ngIf="productprice.invalid && (productprice.dirty || productprice.touched)">
                Prix Invalide
              </mdb-error>
          </div>
        </div>
         <!-- Grid column -->
         <div class="col-md-3">
          <!-- Material input -->
          <div class="md-form mt-3">
            <select class="browser-default custom-select"  [(ngModel)]="product.category" name="category" >
              <option value="0">choisisez une categorie</option>
              <option *ngFor="let category of categories" value="{{category._id}}">{{category.categoryName}}</option>
            
            </select>
            
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <div class="col-md-3 justify-content-right">
      <button mdbBtn [class.disabled]="form.invalid ||invalid" (click)="newSender()" color="info" block="true" class="my-4" type="submit">Ajouter</button>
    </div>
  </form>
