.right-side{
    min-height: 700px;
    max-width: 100%;
}
.row {
    min-height: inherit;
}
.main{
    margin-top: 5%;
}

.back {
    background: url("../../assets/back.png")no-repeat center center;
    background-size: cover;
  }
