
<header  class="h-100">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light " [containerInside]="true">
  
          <a *ngIf="router.url!=='/'" class="navbar-brand"  routerLink="/home" >
              <img src="assets/logo-header.png" height="40" alt="">
          </a>
          <a *ngIf="router.url==='/'" class="navbar-brand"  routerLink="/" >
            <img src="assets/logo-header.png" height="40" alt="">
        </a>
                  
        <links class="text-roboto-condensed">
        
    
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item dropdown mr-1" dropdown>
                        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light btn-purple-custom-outline text-muli-bold-16" mdbWavesEffect>
                            Devenir partenaire<span class="caret"></span></a>
                        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/restaurant">Restaurants</a>  
                            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/deliveryman">Livreurs</a>
                        </div>
                    </li>
                   
                  <li *ngIf="loginService.isLoggedIn()&& router.url!=='/'" class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light btn-purple-custom text-muli-bold-16" mdbWavesEffect>
                      Mon compte <span class="caret"></span></a>
                      <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/account">Profil</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/order/inprogress">Mes commandes</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/order/notes">Mes avis</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/order/history">Commandes  livrées</a>
                        <a class="dropdown-item waves-light" (click)="logout()" mdbWavesEffect>Se Déconnecter</a>  
                      </div>
                  </li>
                 
                  <li  *ngIf="!loginService.isLoggedIn()&& router.url!=='/'" class="nav-item">
                    <a class="nav-link waves-light btn-purple-custom text-muli-bold-16" mdbWavesEffect routerLink="/login">
                      Connexion
                    </a>
                </li>
                  </ul>
        </links>
        
    </mdb-navbar>
  <!-- Main -->

  <!-- /.Main -->
</header>
<!--Main Navigation-->

<mdb-carousel *ngIf="router.url.search('home')!==-1"
 [isControls]="true" class="carousel slide carousel-fade d-none d-xl-block" [animation]="'fade'"  [interval]="'0'"  >
  <!--First slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/slide1.jpg"
           alt="First slide">
      <div class="mask  waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption ">
      <p class=" text-pink-custom text-muli-regular-32  text-left">VOS PLATS PRÉFÈRÉS ,</p>
      <p class="text-pink-custom text-muli-regular-32 text-left">CHEZ-VOUS !</p>
      <p class="text-purple-custom text-muli-regular-32 text-left">À TOUS MOMENT !</p>
      <mdb-card class="mt-5 w-75">
          <mdb-card-body>
            <mdb-card-title>
              <h4></h4>
            </mdb-card-title>
            <mdb-card-text>
              <div class="row">
                  <div class="col-7 md-form input-group mb-0 mt-0">
                      <input (keyup.enter)="frame.show()" type="text" class="form-control" mdbInput [(ngModel)]="searchValue"
                      (keydown.enter)="$event.preventDefault()"  autocorrect="off" autocapitalize="off" spellcheck="off"  >
                      <div (click)="getLocation();" class="input-group-append ">
                        <span class="input-group-text md-addon" style="background-color: white"><mdb-icon  class="text-pink-custom" fas icon="location-arrow" size="1x"></mdb-icon></span>
                      </div>
                    </div>
                    <div class="col-5 btn-group" mdbDropdown>
                        <button (click)="frame.show()"  type="button" mdbBtn  class="mt-0 btn-pink-custom" outline="true" size="md" 
                        mdbWavesEffect>Je me positionne</button>
                        
                        </div>
                        <div class="flex-row text-left">
                          <a href="/recipient/signin" class="card-link text-purple-custom text-muli-semi-bold-14">Connectez-vous.</a>
                          
                        </div> 
              </div>

                
              </mdb-card-text>
         
          </mdb-card-body>
        </mdb-card>
    </div>
    
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/slide2.jpg"
           alt="Second slide">
      <div class="mask   waves-light " mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <div class="text-carousel">
        <p class=" text-pink-custom text-muli-regular-32  text-left">VOS PLATS PRÉFÈRÉS ,</p>
        <p class="text-pink-custom text-muli-regular-32 text-left">CHEZ-VOUS !</p>
        <p class="text-purple-custom text-muli-regular-32 text-left">À TOUS MOMENT !</p>
      </div>
        <mdb-card class="text-center mt-5 w-75" >
            <mdb-card-body>
              
              <mdb-card-text class="text-muli-semi-bold-14">Commander votre plat depuis votre restaurant préféré</mdb-card-text>
              <a routerLink="/order/custom" mdbBtn class="btn-pink-custom mx-0 my-0">Commander</a>
            </mdb-card-body>
          </mdb-card>
    </div>
  </mdb-carousel-item>
  <!--/Second slide-->
  
</mdb-carousel>

<!--div class="d-block d-sm-none justify-content-center align-items-center  ">
<mdb-card class="mt-5 w-75 card-cascade narrower">
          <mdb-card-body>
            <mdb-card-title>
              <h4></h4>
            </mdb-card-title>
            <mdb-card-text>
              <div class="row">
                  <div class="col-7 md-form input-group mb-0 mt-0">
                      <input type="text" class="form-control" mdbInput [(ngModel)]="searchValue"
                      (keydown.enter)="$event.preventDefault()"  autocorrect="off" autocapitalize="off" spellcheck="off"  >
                      <div (click)="getLocation();" class="input-group-append ">
                        <span class="input-group-text md-addon" style="background-color: white"><mdb-icon  class="text-pink-custom" fas icon="location-arrow" size="1x"></mdb-icon></span>
                      </div>
                    </div>
                    <div class="flex-row text-left">
                      <a href="/recipient/signin" class="card-link text-purple-custom text-muli-semi-bold-14">Connectez-vous.</a>
                      
                    </div>
                    <div class="btn-group " mdbDropdown>
                        <button (click)="frame.show()" type="button" mdbBtn  class="mt-0 btn-pink-custom" outline="true" size="md" 
                        mdbWavesEffect>Rechercher</button>
                        
                        </div>
                         
              </div>

                
              </mdb-card-text>
         
          </mdb-card-body>
        </mdb-card>


<mdb-card class="text-center mt-5 w-75" >
  <mdb-card-body>
    
    <mdb-card-text class="text-muli-semi-bold-14">Commander votre plat depuis votre restaurant préféré</mdb-card-text>
    <a routerLink="/recipient/commandePersonalise" mdbBtn class="btn-pink-custom mx-0 my-0">Commander</a>
  </mdb-card-body>
</mdb-card>
</div-->















<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 font-weight-bold text-purple-custom">Votre emplacement</h4>
        <button type="button" class="close text-purple-custom" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" >&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <h5 class="text-muli-bold-18" >Addresse</h5>
        <div class="md-form mb-5">
            <mdb-icon fas icon="map-marker-alt" class="prefix grey-text"></mdb-icon>
            <input type="text" id="form34" class="form-control" mdbInput [(ngModel)]="searchValue"
            (keydown.enter)="$event.preventDefault()"  autocorrect="off" autocapitalize="off" spellcheck="off"   #search>
          <label for="form34">Adresse</label>
                </div>
              

                        <app-google  [parent]="this" ></app-google>
   
                        
      <div class="modal-footer d-flex justify-content-center">
        <button  (click)="validate()" (click)="frame.hide()"  mdbBtn  class="btn-purple-custom" mdbWavesEffect>Valider
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </button>
        
      </div>
    </div>
  </div>
</div>
</div>

<mdb-card *ngIf="router.url.search('home')!==-1" class="card-image mb-3 d-block d-xl-none">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div style="margin-top: 40%;">

    <!--h3 class="card-title pt-2"><strong>Livreur</strong></h3-->
    <div class="text-carousel">
        <p class=" text-pink-custom text-muli-regular-32  text-left">VOS PLATS PRÉFÈRÉS ,</p>
        <p class="text-pink-custom text-muli-regular-32 text-left">CHEZ-VOUS !</p>
        <p class="text-purple-custom text-muli-regular-32 text-left">À TOUS MOMENT !</p>
      </div>                   
    <button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14" (click)="frame.show()" >Rechercher</button>
    <button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14" routerLink="/order/custom">Commander</button>
   
  </div>
</div>
<!-- Content -->
</mdb-card>





