<h2 class="h1-responsive text-center mb-3"> La liste des restaurants  </h2>

 <!--  <button type="button" class="btn btn-outline-primary waves-effect mb-3 " 
  routerLink="/admin/AjoutRestaurant" style="float: right"><mdb-icon far icon="plus-square"></mdb-icon>
</button>  -->
<div class="md-form">
  <input (keyup)="search($event.target.value)" type="text" id="search" class="form-control" aria-label="Text input with dropdown button" mdbInput>
  <label for="search">Recherche</label>

</div>

    <table mdbTable class="table table-bordered table-responsive-md table-striped text-center">

            <tr>
                    <th class="text-center">Nom </th>
                    <th class="text-center ">Numéro du téléphone </th>
                   
                    <th class="text-center">email </th>

                     <th class="text-center" style="width: 40%">address </th>
                     <th class="text-center" >Active </th>
                     <th class="text-center" >Fermé </th>
                     <th class="text-center" style="width: 15%">Action </th>
                     <th class="text-center">Delete </th>



                  </tr>
        
            <!--Card image-->
            
            <!--Card content-->
            
          
              <!--Title-->
              <tr *ngFor="let sender of senders| paginate: { itemsPerPage: 8, currentPage: p };" >
            <td>{{sender.name}} </td>
            <td><mdb-card-text > <p  > {{sender.phoneNumber }} </p> </mdb-card-text> </td>
           <td>{{sender.email }} </td>
           <td>{{sender.address }} </td>
           <td>  <button *ngIf="sender.active" type="button" (click)="activeSender(sender,false)" class="btn btn-outline-primary" >
             <mdb-icon fas icon="times"></mdb-icon></button> 
             <button *ngIf="!sender.active" type="button" (click)="activeSender(sender,true)" class="btn btn-outline-primary"  >
               <mdb-icon fas icon="check"></mdb-icon>  </button>  </td>
            <td>    <button *ngIf="sender.closed" type="button" (click)="lockSender(sender,false)" class="btn btn-outline-primary" 
                        ><mdb-icon fas icon="lock-open"></mdb-icon>
                      </button> 
                      <button *ngIf="!sender.closed" type="button" (click)="lockSender(sender,true)" class="btn btn-outline-primary" 
                      ><mdb-icon fas icon="lock"></mdb-icon>
                    </button> 
                    </td>
                    <td>    <button type="button" class="btn btn-outline-primary waves-effect mr-2" 
                      routerLink="/admin/PageRestaurants/{{sender._id}}"><mdb-icon far icon="list-alt"></mdb-icon>
                    </button> 
                   <!--  <button type="button" class="btn btn-outline-primary" 
                    routerLink="/admin/ModifierRestaurant/{{sender._id}}"><mdb-icon far icon="edit"></mdb-icon>
                  </button>  -->
                  <button type="button" class="btn btn-outline-primary" (click)="basicModal.show();idSender=sender._id" >
                    <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                  </button>
                  </td>

                  <td>
                    <button (click)="deleteId=sender._id;frame.show()" type="button" mdbBtn color="danger" size="sm"  mdbWavesEffect><mdb-icon far icon="trash-alt"></mdb-icon></button>
                  </td>
        </tr>
     
    </table>


    <div  class="row mt-5 mb-5"> 
      <pagination-controls class="mx-auto " (pageChange)="p = $event" previousLabel="Précédent"
      nextLabel="Suivant"></pagination-controls></div>

 
      <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide();password=''">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">Genrer le mot de passe</h4>
            </div>
            <div class="modal-body">
              <a *ngIf="password===''" (click)="generatePassword()" >Cliquer ici pour genrer le mot de passe </a>
              <div *ngIf="password!==''" >Contactez l'admin pour recuperer le mot de passe
              <br>
              <div class="md-form">
                
                
                <input  [(ngModel)]="pwd" type="text" id="search" class="form-control"  mdbInput>
                <label for="search">Mot de passe </label>
                <mdb-error >
                  <span *ngIf="pwd !='' && pwd!==password">Mot de passe invalide</span>
                </mdb-error>
              </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide();password=''" mdbWavesEffect>Fermer</button>
              <button [disabled]="pwd =='' || (pwd !='' && pwd!==password)" type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.hide();login()" mdbWavesEffect>Ouvrir</button>
            </div>
          </div>
        </div>
      </div>

      <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Confirmations</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Voulez vous supprimer ce restaurant ?</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="delete();frame.hide()">Oui
        </a>
        <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Non</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
