.form-control{
    border-bottom-color: #3F729B!important;
}
.h3-responsive{
    color: #3F729B!important;;
}
.embed-responsive-16by9::before {
    padding-top: 0;
}
.star {
    font-size: 1.5rem;
    color: #f0e4a8;
  }
  .filled {
    color: #ffe358;
  }