<div class="container justify-content-center text-center align-items-center">

    <img src="/assets/prochainement.png" class="img-fluid mb-4 mt-5" alt="Responsive image">




</div>

<div class="container justify-content-center align-items-center " >
    <div class="row ">
      
    <!-- Card -->
    <div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5">
        <mdb-card style="background-image: url('./../../../assets/home/livreur.png')"
        class="card-image mb-3">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div style="margin-top: 40%;">

    <h3 class="card-title pt-2"><strong>Livreur</strong></h3>
    <button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14" routerLink="/deliveryman">En savoir plus</button>
   
  </div>
</div>
<!-- Content -->
</mdb-card>
<!-- Card -->
  </div>
  <div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5">
      <mdb-card style="background-image: url('./../../../assets/home/restaurant.png')"
      class="card-image mb-3">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
<div style="margin-top: 40%;">

  <h3 class="card-title pt-2"><strong>Restaurant</strong></h3>
  <button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14" routerLink="/restaurant">En savoir plus</button>
 
</div>
</div>
<!-- Content -->
</mdb-card>
<!-- Card -->
</div>
<div class="justify-content-center align-items-center col-lg-4 col-md-6 col-sm-12 mt-5">
    <mdb-card style="background-image: url('./../../../assets/home/carriere.png')"
    class="card-image mb-3">

<!-- Content -->
<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
<div style="margin-top: 40%;">

<h3 class="card-title pt-2"><strong>Carrière</strong></h3>
<button type="button" class="btn  waves-effect btn-white-custom-outline text-muli-bold-14">En savoir plus</button>

</div>
</div>
<!-- Content -->
</mdb-card>
<!-- Card -->
</div> 
    <!-- Card -->

  
    </div>
  </div>
  