<h1 class="display-4  mb-5 text-center" style="color: #3F729B">La liste des clients</h1>
<div class="md-form">
  <input (keyup)="search($event.target.value)" type="text" id="search" class="form-control" aria-label="Text input with dropdown button" mdbInput>
  <label for="search">Recherche</label>

</div>
<table mdbTable  class="text-center">
        <thead class="unique-color white-text">
    <tr>
      <th class="text-center"><strong>#</strong></th>
    <th class="text-center"><strong>#</strong></th>
    <th class="text-center"><strong>Nom et Prenom</strong>   </th>
    <th class="text-center"><strong>Email</strong></th>
    <th class="text-center"><strong>Adresse</strong></th>
    <th class="text-center"><strong>Numero de telephone</strong></th>
    <th class="text-center"><strong>Verifié</strong></th>
    <th class="text-center"><strong>type de compte</strong></th>
    <th class="text-center"><strong>status</strong></th>
    <th class="text-center"><strong>code Promo</strong></th>

    <th class="text-center"><strong></strong></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let recipient of recipients| paginate: { itemsPerPage: 10, currentPage: p }; let id = index ;">
    <td>
    <span> 
      <mdb-icon *ngIf="getClass(recipient)==='0'" fas icon="circle" style="color: #0d47a1;"></mdb-icon>
      <mdb-icon *ngIf="getClass(recipient)==='1'" fas icon="circle" style="color: #1e88e5 ;"></mdb-icon>
      <mdb-icon *ngIf="getClass(recipient)==='2'" fas icon="circle" style="color: #42a5f5 ;"></mdb-icon>
      <mdb-icon *ngIf="getClass(recipient)==='3'" fas icon="circle" style="color: #90caf9 ;"></mdb-icon>
      <mdb-icon *ngIf="getClass(recipient)==='4'" fas icon="circle" style="color: #e3f2fd ;"></mdb-icon>
    </span>
    </td>
    <td>
      <span> {{(p*10 )-10 + (id+1)}}</span>
    </td>
    <td>
      <span>{{recipient.firstName }} {{recipient.lastName }}</span>
    </td>
    <td>
        <span> {{recipient.email }}</span>
      </td>
      <td>
        <span> {{recipient.address }}</span>
      </td>
      <td>
          <span> {{recipient.phoneNumber }}</span>
        </td>
        <td>
          <span *ngIf="recipient.verified">Oui</span>
         <span *ngIf="!recipient.verified">Non</span> 
       </td>
    <td>
       <span *ngIf="recipient.type!=='signup' && recipient.type!==''">{{recipient.type}}</span>
       <span *ngIf="recipient.type==='signup' || !recipient.type">inscrit</span>
    </td>
   <td>
    <span *ngIf="recipient.connectionInfo && recipient.connectionInfo.connected"><mdb-icon fas class="green-text" size=2x icon="genderless"></mdb-icon>   </span>
    <span *ngIf="!recipient.connectionInfo ||!recipient.connectionInfo.connected"><mdb-icon fas class="red-text" size=2x  icon="genderless"></mdb-icon></span> 
   </td>
   <td>
    <span *ngIf="recipient.connectionInfo && recipient.connectionInfo.connected">{{recipient.connectionInfo.connectionSource}}  </span>
   </td>
  
   <td>
    <span class="table-remove">
      <button type="button" mdbBtn color="primary" rounded="true" size="sm" class="my-0" data-toggle="modal" data-target="#basicExample"  routerLink="/admin/recipient/{{recipient._id}}" mdbWavesEffect ><mdb-icon fas icon="list"></mdb-icon></button>
    </span>
</td>
   </tr>
</tbody>
</table>

<div  class="row mt-5 mb-5"> 
  <pagination-controls class="mx-auto " (pageChange)="p = $event" previousLabel="Précédent"
  nextLabel="Suivant"></pagination-controls></div>


